:root{
	--custom-color : rgba(128, 0, 255 , 0.3);
	--background-color:rgba(128, 0, 255);
	--foreground-color : white;
}
.red{
	color:red;
}
.back{
	background-color:var(--background-color);
}
.fore{
	color:var(--background-color);
}
body{
	font-family: monospace;
}
.bg-primary{
	background : rgba(0,0,0,.5) !important;
}
.banner{
	width : 95%;
	height : 85vh;
	margin-top:3%;
	border-radius : 18px;
	/* background : linear-gradient(rgba(0,0,0,.8) , rgba(0,0,0,.5)),url(../img/2.jpg); */
	background : linear-gradient(rgba(0,0,0,.8) , var(--custom-color)),url(../img/2.jpg);
	background-size : cover;
	color:white;
}
.my-card{
	padding:20px;
	background : rgb(128, 0, 255);
	color:white;
}
nav{
	background: rgb(128, 0, 255);
}
.custom-color{
	background-color:rgb(128, 0, 255);
}
.custom-font-color{
	color:white;
}
/*login form */

.login-container{
	margin-left:30%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

/*side bar style*/
@media only screen and (max-width : 650px){
		.sidebar{
		display : none;
		width : 90% !important;
		background:rgb(128, 0, 255);
		height:100vh;
		position : fixed;
		padding-top:20px;
	}
	.content{
		margin-left : 0% !important;
	}

}
.sidebar{
	width : 18%;
	background:rgb(128, 0, 255);
	border-radius:20px;
	margin-left : 5px;
	height:50%;
	margin-top : 8%;
	position : fixed;
	padding-top:45px;
	transition : 2s;
	z-index : 999;
}
.sidebar a{
	display : block;
	width : 100%;
	padding : 10px 25px;
	text-decoration : none;
	color : white;
}
.sidebar a:hover{
	color : orange;
}
.sidebar .divider {
	height : .5px;
	width : 100%;
	background : white;
	margin-top : 20px;
	z-index: 1;
}
.content{
	margin-left:20%;
	transition : 2s;
}
.sidebar .crossbtn{
	position: absolute;
	top: 0;
	right: 35px;
	font-size : 36px;
	cursor: pointer;
	color:white;
	
}
.my-profile-pic{
	height : 35px;
	width : 35px;
	object-fit:cover;
	border:2px solid black;
}
.search-container{
	position : relative;
}
.search-result{
	position : absolute;
	display:none;
	width:100%;
	border-radius:10px;
}
