<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<section class="d-flex justify-content-center align-items-center flex-column">
		<div  class = "banner d-flex justify-content-center align-items-center">
			<div>
				<h1 class="font-weight-bold"><i class="fa-brands fa-squarespace"></i> Smart Contact Manager</h1>
				<p class="">Start Collecting Your contacts in very smarter way. We provide very efficient and smarter way of handling contacts.</p>
				<button class="btn btn-secondary custom-color">Get Started <i class="fa fa-arrow-right"></i></i></button>
			</div>
		</div>
	
	<div>
	</section>

</body>
</html>